@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
}

*::-webkit-scrollbar{
	display: none !important;
}

.app {
	height: 100vh;
	width: 100%;
}

.app__body {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.app__body::-webkit-scrollbar{
	display: none !important;
}

.arrowBack__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #fff;

    color: rgb(24, 23, 23);
    padding: 6px 10px;	
}

.addStudent__navbar {
	display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #fff;

    color: rgb(24, 23, 23);
    padding: 0px 10px;	
	top: 20px;
	left: 0;
}

.error__align {
	display: flex;
	align-items: center;
	justify-content: center;
}

.error-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	background-color: #fff;
	box-shadow: 0 0 2px gray;
	border-radius: 5px;
	width: 250px;
	padding: 10px;
	position: fixed;
top: 55px;
z-index: 10000000;
  }
  
  .error-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: rgb(231, 67, 67);
	border-radius: 10px;
	font-size: large;
	padding: 5px 0;
  }

.error-container p {
	text-align: center;
}
