.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    color: rgb(24, 23, 23);
    padding: 5px 3px;
}

.signIn__wrapper {
    align-items: center !important;
    display: flex !important;
    background-color: #2175a5 !important;   
    width: 100% !important;
    height: 100% !important;
    margin: -10px;
    padding: 10px;
    text-decoration: none;
}

.signIn {
    background-color: #ffffff !important;
    color: rgb(156, 27, 27) !important;
    width: 95% !important;
    border-radius: 5px !important;
}

.menu {
    margin-left: 10px;
    cursor: pointer;
}

.avatar_container {
    height: 30px !important;
    width: 30px !important;
    margin-right: 10px !important;
    cursor: pointer; 
}
.avatar {
    height: 30px !important;
    width: 30px !important;
    cursor: pointer;
}

/* .css-4t3x6l-MuiPaper-root-MuiDrawer-paper{} */

/* .sidebar {
    width: 20% !important;
    background-color: red !important;
} */

.side__user {
    display: flex;
    align-self: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

.side__avatar {
    height: 35px !important;
    width: 35px !important;
    cursor: pointer;
}

.side__userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.side__userInfo p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.side__userInfo span {
    font-size: 13px;
}

.drawer__listItem {
    display: flex !important;
    align-items: center !important;
    color: rgb(92, 85, 85) !important ;
}

.drawer__listItem:hover {
 background-color: #0267ff  !important;
 color: #fff !important;
}

.drawer__listIcon{

margin-right: 20px;
}

.drawer__listText {
    margin-bottom: 3px;
}

.add__button {
    background-color: #0267ff !important;
    width: 95% !important;
    border-radius: 10px !important;
    color: #fff !important;
    margin-left: 2% !important;
    margin-top: 5px !important;
}

.add__button:hover {
    background-color: #4889eb !important;
}


.link {
    text-decoration: none;
}