.students {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    /* align-items: center; */

}
.list {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titles {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    margin: 10px 0;
}

.titles p {
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
}

